.forgot-wthree-w3l {
  cursor: pointer;
  background-color: #07224c;
  color: #fff;
  border: 1px solid #fff;
}
.language-reset-container {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-items: center;
}
.language-forgot-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.back-button {
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  margin-left: 1%;
  margin-right: 10px;
  margin-top: 5px;
}
.title-btn {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.ant-form-item-explain-error{
  bottom: -5px; 
  left: 100px;
  color: rgb(244, 84, 84);
  font-size: 13.5px;
  font-weight: 500;
  margin-bottom: 5px;
}


.forgot-wthree-w3l {
  position: relative;
  width: 150px; /* Adjust the width as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-wthree-w3l .ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Set the spinner color to white */
}

.forgot-wthree-w3l .ant-spin-dot-item {
  background-color: white; /* Set the spinner color to white */
}

.custom-error-message {
  color: #07224c !important;
}
.form-control.w3layouts .ant-form-item-explain-error {
  font-weight: 500;
  width: 350px;
  display: flex;
  justify-content: center;
}